footer {
    background-image: url("//bizweb.dktcdn.net/100/331/067/themes/811197/assets/bg_cosmetics.jpg?1617899431199");
}
footer {
    padding-top: 50px;
    
  }


ul.list-unstyled li a {
    color: white ;
}

/* footer h4,h5,p {
    color: white;
} */